# OS / editor
.DS_Store
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Node / Next.js
node_modules/
.next/
out/
dist/
.turbo/
.cache/
coverage/

# Env / secrets
.env*
!.env.example

# Vercel
.vercel

# Misc
*.tsbuildinfo